# Dependency Directories
/node_modules
/build
/dist

# Development Artifacts
.env*
.npm/
.pnpm-debug.log
.yarn/cache
.yarn/unplugged

# React Native / Mobile Build Artifacts
/android/build
/android/app/build
/android/app/src/main/assets
/ios/build

# VS Code
.vscode/

# Logs
*.log
*.log.*.txt
npm-debug.log*

# Editor/OS Files
.DS_Store
Thumbs.db

# Compiled Files (React/Vite/Webpack outputs)
/public/build
/coverage

# Secrets (Assume sensitive data might be stored locally)
*.pem

# React Native
/tmp
/temp
/reset-cache
